*{
	margin: 0px;
	padding: 0px;
} 
.bac{
	font-style: oblique;
	text-align: right;
	margin: 0%;
	padding-right:2rem;
	font-size: 22px;
	background-color: purple; 
	color: white;
}
.conteineur{
	display: 
}
 table{
 	border: 2rem;
 	width: 100%;
 	position: fixed;
 	background-color: white;
 }
 .droit{
 	width: 10%;
 }
 .controls{
   display: flex;
  	list-style: none;
    text-transform: capitalize;
    justify-content:space-around;
    text-align: right;
    /*box-shadow: 0 0 0 .2rem #fff;
    box-shadow: 0 .1rem .2rem rgb(0, 0, 0, 0.3);
    border-radius: .7rem;*/

  }
  h1{
  	font-size: 60px;
  	color: green;
}
span{
	color: purple;
}
.vide{
	list-style: none;
}
.temoine{
	position: absolute;
	color: white;
	background-color: green;
	padding: .1rem;
	margin: 1rem;
	border-radius: .90rem;

}
.temoin: hover{
	cursor: pointer;
}
.temoin{
	position: absolute;
	color: white;
	background:linear-gradient(to right, #1a714e, #70ea70);
	padding: .1rem;
	margin-top: 3.5rem;
	margin-left: 3.5rem;
	border-radius: .90rem;
}
.lote{
	position: absolute;
	color: green;
	/*background-color: green;*/
	/*padding: .1rem;*/
	margin-top: 12rem;
	margin-left: 3rem;

}
.savoir{
	position: absolute;
	color: green;
	margin-top: 12rem;
	margin-left: 12rem;
}
.pilote{
	position: absolute;
	color: green;
	margin-top: 12rem;
	margin-left: 8rem;
}
.triple{
	font-style: italic;
	font-size: 17px;
	line-height: 3rem;
}
.second{
	display: flex;
    margin-left: 0rem;
    padding: 4rem;
    padding-bottom: 1rem; 
    background-image:url(Capturecran.png); 
   /* background: linear-gradient(white,green,blue);*/

}
.forma{
	margin-left: 5rem;
}
.bester{
	margin-left: 5rem;
}
.droite{
	list-style: none;
}
.faster{
	margin-left: 3rem;
}
.droit1{
	list-style: none;
}
.videos{
	display: flex;

}
video{
	width: 250px;
	margin: 2.5rem;
	border:0.5rem solid #fff;
	border-bottom: 2rem solid #fff;
	box-shadow: 0 .1rem .2rem rgb(0, 0, 0, 0.3);
   /* border-radius: .7rem;*/
}
.fa-check {
	color: green;
}
.fa-graduation-cap{
	color: green;
}
.fa-briefcase{
	color: green;
}
.nuber{
	color: green;
	font-weight: bold;
}

footer{
	background-color: purple;
	color: white;
	display: flex;
	line-height: 2.5rem;
	padding: 5px;
	margin: 5px;
}